name: Build and Push Docker Image

on:
  push:
    branches:
      - "main"

jobs:
  build-and-push:
    name: "Build and push Docker image ${{ matrix.mono == true && '(Mono)' || ''}}"
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    strategy:
      matrix:
        mono:
          - true
          - false

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Get Godot version from Dockerfile
        id: godot-version
        run: |
          VERSION=$(grep "ARG GODOT_VERSION=" Dockerfile.godot-dev | cut -d'=' -f2)
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "Godot version: $VERSION"

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image tag
        id: tag
        run: |
          if [ "${{ matrix.mono }}" = "true" ]; then
            echo "tag_name=ghcr.io/${{ github.repository_owner }}/godot-dev-mono" >> $GITHUB_ENV
          else
            echo "tag_name=ghcr.io/${{ github.repository_owner }}/godot-dev" >> $GITHUB_ENV
          fi

      - name: Build and push Godot Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.godot-dev
          push: true
          tags: ${{ env.tag_name }}:${{ steps.godot-version.outputs.version }}, ${{ env.tag_name }}:latest
          build-args: |
            GODOT_VERSION=${{ steps.godot-version.outputs.version }}
            MONO=${{ matrix.mono }}
