name: Build Docker Image

on:
  push:
    branches-ignore:
      - "main"

jobs:
  build-and-push:
    name: "Build Docker image ${{ matrix.mono == true && '(Mono)' || ''}}"
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    strategy:
      matrix:
        mono:
          - true
          - false
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Get latest Godot version
        id: godot-version
        run: |
          GODOT_VERSION=$(curl -s https://api.github.com/repos/godotengine/godot/releases/latest | jq -r '.tag_name' | sed 's/^v//' | sed 's/-stable//')
          echo "GODOT_VERSION=$GODOT_VERSION" >> $GITHUB_ENV
          echo "Using Godot version: $GODOT_VERSION"
          
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image tag
        id: tag
        run: |
          if [ "${{ matrix.mono }}" = "true" ]; then
            echo "tag_name=ghcr.io/${{ github.repository_owner }}/godot-dev-mono" >> $GITHUB_ENV
          else
            echo "tag_name=ghcr.io/${{ github.repository_owner }}/godot-dev" >> $GITHUB_ENV
          fi

      - name: Build and push Godot Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.godot-dev
          push: false
          tags: ${{ env.tag_name }}:${{ env.GODOT_VERSION }}, ${{ env.tag_name }}:latest
          build-args: |
            GODOT_VERSION=${{ env.GODOT_VERSION }}
            MONO=${{ matrix.mono }}
